body {
    text-align: center;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}

table {
    margin-bottom: 30px;
}

@media screen and (max-width: 570px) {
    h1 {
        font-size: 50px;
    }

    tr {
        height: 40px;
    }

    td {
        width: 40px;
    }

    input[type=number] {
        width: 10em;
    }
    
    span {
        font-size: 1.2em;
        display: block;
    }
    
    input[type=number] {
        padding: 4px 7px;
        border-radius: 5px;
        border: 1px solid #a9a9a9;
        margin: 6px 0;
    }
}

@media screen and (min-width: 571px) and (max-width: 949px) {
    h1 {
        font-size: 60px;
    }
    
    tr {
        height: 30px;
    }
    
    td {
        width: 30px;
    }
    
    input[type=number] {
        width: 8em;
    }
}
